{% extends 'catalog/home.html'%}
{% include 'catalog/inc_menu.html'%}
{% include 'catalog/footer.html'%}
{% load blog_tags %}
{% block content %}
{% load cache %}
{% cache 900 product.pk %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            {% if product.photo %}
               <img src="{{ product.photo | media_filter }}" class="card-img-top" alt="{{ product.name }}">
            {% else %}
                <p> Изображения нет </p>
            {% endif %}
            <div class="card-body text-center">
              <p class="card-text"> {{ product.name }}: {{ product.purchase_price }}</p>
              <p class="card-text">{{ product.category }}</p>
              <p class="card-text">{{ product.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- Кнопки управления продуктом -->
                {% if user.is_authenticated %}
                    {% if user == product.owner or user.is_moderator %}
                        <!-- Только владелец или модератор могут редактировать продукт -->
                        <a class="btn btn-warning" href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>

                        <!-- Только владелец или модератор могут удалять продукт -->
                        <a class="btn btn-danger" href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    {% endif %}
                {% endif %}
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'catalog:home' %}">Назад</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcache %}
{% endblock %}